.invoice {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #304FFE;
    padding-bottom: 3rem;
}

.invoice__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.invoice__text > h2 {
    font-size: 2rem;
    font-weight: 400;
    line-height: 32px;
    font-family: montserrat;
    max-width: 40rem;
    text-align: center;
    padding: 0 0.5rem;
    color: #ffffff;
}

.invoice__table {
    max-width: 30rem;
    min-width: 20rem;
    background-color: whitesmoke;
    color: dimgrey;
}

.invoice__row {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #a9a9a9;
}

.invoice_column {
    display: flex;
    flex-direction: column;
}

.invoice__row.grey {
    background-color: lightgrey;
}