.btn-default{
    width: 5rem;
    height: 2rem;
    background-color: #F97056;
    outline: none;
    font-family: montserrat;
    font-size: 17px;
    color: #ffffff;
    text-shadow: -1px 1px #417cb8;
    border: none;
    user-select: none;
    cursor: pointer;
}
.btn-default:hover {
     transition: all 60ms ease;
     opacity: .85;
 }

.btn-default:active {
     transition: all 60ms ease;
     opacity: .75;
 }