.payment-info{
    height: 400px;
    display: flex;
    flex-direction: column;
    background-color: #304FFE;
    color: #ffffff;
}
.payment-info__row{
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: montserrat;
    font-size: 20px;
}
.payment-info__row > p{
    width: 40rem;
    text-align: center;
    padding: 0 0.5rem;
}
.payment-info__row > a{
    background-color: #F97056;
    text-decoration: none;
    border: 0;
    color: white;
    padding: 1rem 6rem;
    user-select: none;
}
.payment-info__row > h2{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 27px;
}