.finance-info{
    display: flex;
    padding: 2rem 3rem;
    justify-content: center;
}
.finance-info__container{
    display: flex;
    justify-content: space-between;
}

.finance-info__text{
    max-width: 30rem;
    padding: 0 1rem;
}

.finance-info__text > h2{
    color: #1d32A4;
    font-size: 2rem;
    font-weight: 400;
    line-height: 27px;
    font-family: montserrat;
}

.finance-info__text > p{
    font-size: 17px;
    line-height: 22px;
}

.finance-info__image{
    padding: 0 1rem;
}

@media screen and (max-width: 1024px){
   .finance-info__container{
       flex-direction: column;
   }
}