.about {
    width: 100%;
    background-color: #1d32A4;
    display: flex;
    padding: 2rem;
    flex-direction: column;
    box-sizing: border-box;
}

.about__item {
    width: 100%;
    display: flex;
    justify-content: center;
}

.about__item > p {
    text-align: center;
    max-width: 50rem;
    font-family: Source sans pro;
    font-size: 13px;
    line-height: 21px;
    opacity: 0.8;
    color: #ffffff;

}

.about__text {
    padding-bottom: 0.5rem;

}