.bank-accounts{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #304FFE;
    padding-bottom: 3rem;
}
.bank-accounts__wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.bank-accounts__row{
    display: flex;
    justify-content: center;
}

.bank-accounts__text{
    width: 40rem;
    text-align: center;
    padding: 0 0.5rem;
    color: #ffffff;
}
.bank-accounts__banks{
    width: 40rem;
    padding: 0 0.5rem;
}
.bank-accounts__item{
    width: 12rem;
    height: 5rem;
    background-color: #ffffff;
    margin: 0.25rem 0.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.bank-accounts__item > img{
    width: 7rem;
    padding: 0 2.5rem;
}
.bank-accounts__row > a{
    background-color: #F97056;
    text-decoration: none;
    border: 0;
    color: white;
    margin-top: 2rem;
    padding: 1rem 8.75rem;
    user-select: none;
}

.bank-accounts__text > h2{
    font-size: 2rem;
    font-weight: 400;
    line-height: 32px;
    font-family: montserrat;
}

.bank-accounts__text > p{
    font-size: 17px;
    line-height: 25px;
}