.header{
    height: 4rem;
    width: 100%;
    background-color: #304FFE;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    box-sizing: border-box;
}
.header__button{
    height: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header__logo > a > img{
    height: 3em;
}