.partners {
    width: 100%;
    background-color: #2ABBF0;
    display: flex;
    padding: 0.5rem 2rem;
    box-sizing: border-box;
    justify-content: center;
    flex-wrap: wrap;
}

.partners_item {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.partners_item > img {
    width: 8rem;
}

.partners_item > span {
    width: 8rem;
    color: #ffffff;
    font-family: Source sans pro;
    font-size: 17px;
    line-height: 22px;
}

@media screen and (max-width: 1024px) {
    .partners {
        flex-direction: column;
    }

    .partners_item {
        flex: 1;
        display: flex;
        justify-content: center;
        flex-direction: row;
        padding: 1rem;
    }
}