.bank-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #304FFE;
    padding-bottom: 3rem;
}
.bank-form__wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}

.bank-form__column{
    display: flex;
    flex-direction: column;
}
.bank-form__item{
    padding-bottom: 1rem;
}
.bank-form__item > input{
    font-family: Source sans pro;
    font-size: 20px;
    width: 20rem;
    padding: 0.5rem;
    box-sizing: content-box;
    appearance: none;
    box-shadow: none;
    margin: 0;
    border: 1px solid #ffffff;
    border-bottom: 2px solid #D9D9D9;
}
.bank-form__item > .error{
    border: 1px solid red;
}

.bank-form__item > button{
    width: 21rem;
    height: 3rem;
}

.bank-form__item > input:focus{
    outline: none;
}
.bank-form__item > input::placeholder{
    color: darkgrey;
}

.bank-form__text{
    width: 40rem;
    text-align: center;
    padding: 0 0.5rem;
    color: #ffffff;
}
.bank-form__row > a{
    background-color: #F97056;
    text-decoration: none;
    border: 0;
    color: white;
    margin-top: 2rem;
    padding: 1rem 8.75rem;
    user-select: none;
}

.bank-form__text > h2{
    font-size: 2rem;
    font-weight: 400;
    line-height: 32px;
    font-family: montserrat;
}

.bank-form__text > p{
    font-size: 17px;
    line-height: 25px;
}